<div id="dynamic">
    <table cellpadding="0" cellspacing="0" border="0" class="display" id="ajaxSecondtable">
        <thead>
        <tr>
            <th>Id<br/><input type="text" name="search_id" value="Search id" class="search_init"></th>
            <th>Date<br/><input type="hidden" name="search_date" value="Search date" class="search_init"></th>
            <th>Time<br/><input type="text" name="search_time" value="Search time" class="search_init"></th>
            <th>Ip<br/><input type="text" name="search_ip" value="Search ip" class="search_init"></th>
            <th>Flag<br/><input type="hidden" name="search_flag" value="Search flag" class="search_init"></th>
            <th>Region<br/><input type="hidden" name="search_region" value="Search region" class="search_init"></th>
            <th>City<br/><input type="hidden" name="search_city" value="Search city" class="search_init"></th>
            <th>Nation<br/><input type="text" name="search_nation" value="Search nation" class="search_init"></th>
            <th>Url<br/><input type="text" name="search_url" value="Search url" class="search_init"></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td colspan="15" class="dataTables_empty">Loading data from server</td>
        </tr>
        </tbody>

        <!--
        <tfoot>
            <tr>
                <th><input type="text" name="search_id" value="Search id" class="search_init"></th>
                <th><input type="hidden" name="search_date" value="Search date" class="search_init"></th>
                <th><input type="text" name="search_time" value="Search time" class="search_init"></th>
                <th><input type="text" name="search_ip" value="Search ip" class="search_init"></th>
                <th><input type="hidden" name="search_flag" value="Search flag" class="search_init"></th>
                <th><input type="hidden" name="search_region" value="Search region" class="search_init"></th>
                <th><input type="hidden" name="search_city" value="Search city" class="search_init"></th>
                <th><input type="text" name="search_nation" value="Search nation" class="search_init"></th>
                <th><input type="text" name="search_url" value="Search url" class="search_init"></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </tfoot>
        -->
    </table>
</div>
        <br/><br/><!--space for buttons-->